.borders {
    border-style: solid;
}
#animal-name-size {
    height: 30px;
    width: 100px;
}
#page-dimensions {
    height: auto;
    width: 500px;            
    border: 25px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 10px;
    align-content: center;
    list-style-type: none;
}
ul {
    list-style-type: none;
}